@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;500&family=IBM+Plex+Sans+Arabic&display=swap');

/*products*/

.products {
    width: 60%;
    float: left;
    margin: 10px 0;
}
#size-filter {
    display: flex;
    justify-content: space-between;
    width: 35%;
    float: right;
    color: #630000;
    font-size: 20px;
    margin: 10px 14px 0;
    display: block;
}
.products-filter h2  {
    display: flex;
    justify-content: space-between;
    width: 70%;
    float: right;
    color: #D8B6A4;
    font-size:30px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    padding-left:34%;
}
.product-item{
    display: flex;
    background-color: #D8B6A4;
    justify-content: space-between;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 450px;
    min-height: 130px;
 }
.product-item-img {
    width: 45%;
    margin-right: 10px;
    padding: 1px;
    border-radius: 2px;
}
 .product-item-actions {
    display: flex;
    flex: 1;
    text-align: right;
    flex-direction: column;
    justify-content: space-between;
 }
.add-to-cart {
    display: block;
    margin-left: auto;
    font-size: 17px;
    border: none;
    border-radius: 12px;
    background-color: #630000;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    font-family: "Fredoka", sans-serif;
    height: 85px;
}
 
 
#favorite {
    cursor: pointer;
    display: block;
    width: 20px;
    margin-left: auto;
    padding: -20px;
  }
  #favorite:hover {
    color: red;
  }
span {
    color: #630000;
    font-size: 20px;
}
  
/***************** Create Product*****************/

.create-product-icon {
    position: fixed;  
    bottom: 25px;
    right: 65px;
    width: 85px;
    height: 85px;
    text-shadow: 1px 5px 10px #630000;
    background-color: #D8B6A4;  
    border-radius: 50%;
    line-height: 85px;
    text-align: center;
    border: 1px 0 solid #000000;
    color: #630000;
    font-size: 20px;
    font-weight: bolder;
 }
.create-product-icon:hover {
    color: white;
    text-shadow: 0 0 8px #D8B6A4;
    background-color: #630000; 
    border: 1px solid #000000; 
}





.create-product-form  {
    position: absolute;
    top: 90%;
    left: 50%;
     width: 75%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #D8B6A4;
    padding: 20px; 
    height: 650px;
}
.create-product-form img {
    width: 100%;
    margin: 10px 0;
    border: 1px solid #EEEBDD;
    padding: 2px;
    object-fit: cover;
}
.create-product-form a {
    font-size: 25px;
    letter-spacing: 3px;
    color: #630000;
    text-shadow: 1px 0  3px #EEEBDD;
    cursor: pointer;
}
 
.create-product-form form input {
    padding: 5px;
    display: block;
    width: 100%;
    justify-content: space-between;
    letter-spacing: 2px;
    margin: 50px 0;
    height: 40px;
    border: 1px solid #ddd;
    font-family: 'Fredoka';
    color: #000000 ;
    outline: 0;
    background-color: #EEEBDD ;
} 
.create-product-form h2{
    font-size: 50px;
    color: #630000;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 1px 0  3px #EEEBDD;
    text-align: center;
}

.create-product-form #name ,#upload_image , #size {
    width: 70%;
    height: 40px;
    padding: 5px;
    margin: 5px 20% ;
    border: 1px solid #D8B6A4;
    border-radius: 6px;
    font-size: 20px;
}

.create-product-form #discription {
    width: 70%;
    height: 100px;
    padding: 10px;
    border: 1px solid #D8B6A4;
    border-radius: 6px;
    font-size: 20px;
    margin: 5px 20% ;

}
.create-product-form label {
    float: left;
    width: 22px;
    font-size: 20px;
}
.size , .upload_image {
    height: 40px;
    padding: 5px;
    width: 100%;
    text-align: center;
    float: left;
}
#createProduct {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-left: 20%;
    border: none;
    background-color: #630000;
    color: #D8B6A4;
    border-radius: 1px;
justify-content: space-between;
}
#createProduct:hover {
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-left: 20%;
            border: none;
    background-color: #000000;
    color: white;
    border-radius: 1px;
justify-content: space-between;
}
 